@import './reset.css';

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
}

body {
    background-color: var(--app-dark-bg);
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}
/* --------------- */
/* Header         */
/* --------------- */
h1 span{
    color:#f9004d;
}
header {
    height: 60px;   
}

.flexbox {
    display: flex;
}

.title {
    width: 40%;
    height: 56%;
}

.title h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 56px;
    font-family: "Roboto", sans-serif;
    color: #dcdcdc;
    letter-spacing: 0.2px;
}

nav {
    width: 60%;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 18px;
    color: #dcdcdc;
    font-weight: 525;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    line-height: 60px;
    font-family: Madefor, Helvetica Neue, Helvetica, Arial, Hiragino Kaku Gothic Pro W3, Hiragino Kaku Gothic Pro, sans-serif !important;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li+li {
    margin-left: 18px;
}


/* --------------- */
/* Section          */
/* --------------- */
.banner {
    background: #fff url(../img/banner.jpg) center center / cover no-repeat;
    height: calc(100vh - 60px);
    color: #fff;
}

.overlay {
    min-height: calc(100vh - 60px);
    background-color: rgb(20 24 28/0.4);
    display: grid;
    place-items: center;
    text-align: center;
}

.welcome{
    font-size: 22px;
}
.box {
    
    border-radius: 8px;
    background-color: rgb(124 123 123/0.4);
    padding: 8px;
    color: #ff3c57;
}
.text {
    font-weight: 300;
    font-size: 28px;
    margin-top: 10px;
}

.delay {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    inset: auto 50px 50px auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    background-color: #ff3c57;
    transition: all 0.9s ease-in-out;
}



.section.lessdelay {
    visibility: visible;
    opacity: 1;
    transition: 0.6s;
}

.delay.is-visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.7s;
}

.cake, .cake2{
    display:flex;
}


.cake p, .cake2 p, .cake .head, .cookies .cake2 p{
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    color: beige;
    text-align: left;
}
.cake p, .cookies p {
    font-size: 20px;
    color:#ff3c57;
}
.cake .price{
    margin-left: 160px;
}
.bakery{
    background-color: #111;
}
.column{
    flex-grow:1;
    width:calc(25% - 15px);

    border-radius: 6px;
   
    margin-top:30px;
}
.row {
    flex-flow:row wrap;
     display:flex;
     gap:20px;
 }
 
img{
   
    height:160px;
    width:100%;
}
.one{
    background-color:#191919;
    padding:20px;
    box-sizing: border-box;
}

.two{
    background-color:#191919 ;
    padding:20px;
    box-sizing: border-box;
}

.three{
    background-color: #191919;
    padding:20px;
    box-sizing: border-box;
}
.bakery{
    min-height: calc(100vh - 60px - 80px );
}

.bakery{
    display:grid;
    align-items: center;
    /*font-size:36px;*/
    color: var(--app-white);
    text-align:center;
  /* margin-top: 50px;*/
    width:100%;
}

.bakery h2{
    font-size: 40px;
    font-family: "PT Serif", serif;
    color:#fff;
}

.button input{
    height:50px;
    width:50%;
    background-color: #ff3c57;
    border: 2px solid #ff3c57;
    border-radius:12px;
    font-size: 20px;
    color: var(--app-white);
    transition: all 0.24s ease-in-out;
}

/* --------------- */
/* footer          */
/* --------------- */

.flexbox {
    display: flex;
}

footer {
    height: 60px;
}

div .icons {
    width: 50%;
    text-align: left;
}

div .icons ul {
    list-style: none;
}

div .icons ul li {
    display: inline;
    line-height: 66px;
    cursor: default;
}

div .icons ul li a {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.icons li {
    border: 1px solid;
    border-radius: 50%;
    padding: 6px;
}

.icons ul li+li {
    margin-left: 18px;
}

.fb {
    color: #fa0808;
}

.twitter {
    color: #00acee;
}

.google {
    color: #4285F4;
}

.copy {
    width: 50%;
    height: 56%;
}

.copy p {
    font-size: 17px;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    line-height: 66px;
    color: #fff;
    letter-spacing: 0.2px;
}